.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.4);

  .modal-card {
    border-radius: 1rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: rgba(255, 255, 255, 0.56) 0px 0px 40px 2px;
  }

  label {
    margin-bottom: 2px;
  }

  .modal-input {
    border-radius: 0.2rem;
    background: #0d0d0dcb;
    outline: none;
    border: none;
    width: 20rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
  }

  .modal-button {
    padding: 0.6rem;
    background: #da1b54;
  }
}
